.hide {
  display: none !important;
  opacity: 0 !important;
}
.content_service_article_container {
  width: 100%;
}
.bg_white {
  background: #fff;
}
.bg_white {
  width: 100%;
  position: relative;
  height: auto;
}
#services {
  width: 100%;
  max-width: 1050px;
  position: relative;
  float: left;
  min-height: 802px;
  z-index: 4;
}
#path_stroke_cloud,
.path_stroke_cloud,
.scrolled-comp,
#txt_title_about_us_clip,
#svg_cloud,
.draw_path .path_stroke_bg_service {
  transition: all ease-in-out 0.6s;
  -moz-transition: all ease-in-out 0.6s;
  -o-transition: all ease-in-out 0.6s;
  -ms-transition: all ease-in-out 0.6s;
  -webkit-transition: all ease-in-out 0.6s;
}

#icons-services-div {
  margin-top: 30px;
}
.selected,
#service-description,
#icons-services-div {
  transition: all ease-in-out 0.9s;
  -moz-transition: all ease-in-out 0.9s;
  -o-transition: all ease-in-out 0.9s;
  -ms-transition: all ease-in-out 0.9s;
  -webkit-transition: all ease-in-out 0.9s;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in-out;
  -webkit-transition: opacity 250ms ease-in-out;
  -moz-transition: opacity 250ms ease-in-out;
}
#service_description_content {
  margin-top: -266px;
}
#service_description_content .first-child-p {
  width: 65%;
  margin-left: 38%;
  margin-top: 28%;
}
#service_description_content h4,
#service_description_content h3 {
  text-align: center;
  margin: 0 auto;
  color: #000;
}

.article_bg_img .articl-bckg-img-service {
  min-height: 900px;
  width: 100%;
  z-index: 1;
  position: relative;
  float: left;
}

.path_stroke_bg_service {
  fill: transparent;
}

figure.service_icon_btn {
  margin: 20px;
  position: relative;
  display: inline-block;
  flex: 0 0 calc(16.66% - 20px);
}

#services {
  width: 100%;
  position: relative;
  min-height: 900px;
}

#services a.btn_service {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #000;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #000;
  color: #fff;
  border: none !important;
  padding: 15px 20px;
  text-decoration: none;
  cursor: pointer;
}

#services a.btn_service::before {
  content: "";
  position: relative;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffae4c;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFFFAE4C', endColorstr='#FFFF9E44');
  background-size: 100%;
  background-image: -moz-radial-gradient(
    center,
    ellipse farthest-corner,
    #ffae4c 0%,
    #ff9e44 100%
  );
  background-image: -webkit-radial-gradient(
    center,
    ellipse farthest-corner,
    #ffae4c 0%,
    #ff9e44 100%
  );
  background-image: radial-gradient(
    ellipse farthest-corner at center,
    #ffae4c 0%,
    #ff9e44 100%
  );
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

a.icon-service {
  padding: 0px !important;
  background: none !important;
}

#icons-services-div {
  flex-wrap: wrap;
  justify-content: center;
}

#services * {
  box-sizing: border-box;
}

.svg_service_bg_btn {
  min-width: 220px;
}

#service_description_bg {
  margin-top: -18%;
  float: right;
}

#service-description .subtitle_content {
  max-width: 479px;
  position: relative;
  z-index: 12;
  float: left;
  left: 49%;
}

#service-description .subtitle_content .txt_mision text {
  font-size: 7px !important;
}

#service-description .btn.btn-large {
  float: left;
}

#service_description_content {
  position: relative;
  width: 100%;
  float: right;
}

#service_description_content p {
  padding: 20px 50px;
}

.btn-back {
  background: #000;
}
.txt_benefits {
  font-size: 11px !important;
}
.btn-back {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #000;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #000;
  color: #fff;
  border: none !important;
  padding: 15px 20px;
  text-decoration: none;
  cursor: pointer;
}

.btn-back:before {
  content: "";
  position: relative;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffae4c;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFFFAE4C', endColorstr='#FFFF9E44');
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYWU0YyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmOWU0NCIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
  background-size: 100%;
  background-image: -moz-radial-gradient(
    center,
    ellipse farthest-corner,
    #ffae4c 0%,
    #ff9e44 100%
  );
  background-image: -webkit-radial-gradient(
    center,
    ellipse farthest-corner,
    #ffae4c 0%,
    #ff9e44 100%
  );
  background-image: radial-gradient(
    ellipse farthest-corner at center,
    #ffae4c 0%,
    #ff9e44 100%
  );
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.btn-back:hover,
.btn-back:focus,
.btn-back:active {
  color: #000;
}

.btn-back:hover:before,
.btn-back:focus:before,
.btn-back:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.btn-back:hover,
.btn-back:focus,
.btn-back:active {
  text-decoration: none;
  color: #000;
}
#articl-bckg-img-service {
  height: auto;
  min-height: 800px;
  z-index: 2 !important;
  position: relative;
  transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
}
#service_description_content {
  background: url("./img/articl-bckg-img/service_description_bg.png") no-repeat;
  background-size: 100%;
}
@media screen and (max-width: 1280px) {
  #services {
    margin-top: 0px !important;
  }
}
@media screen and (max-width: 1050px) {
  #service-description .subtitle_content {
    left: 38% !important;
  }
  body.reading_more_about_us #article_services {
    margin-top: 0% !important;
    padding-top: 0% !important;
  }
  #service_description_content p {
    position: relative;
  }
}

@media screen and (max-width: 990px) {
  #service-description .subtitle_content {
    margin-top: 5% !important;
  }
}

@media screen and (max-width: 980px) {
  #service_description_content .first-child-p {
    margin-top: 43%;
  }
}

@media screen and (max-width: 940px) {
  #service-description .subtitle_content {
    left: 12% !important;
  }
  #service-description .subtitle_content {
    margin-top: 20% !important;
  }
  #web-development-mobile-benefits {
    max-width: 455px;
  }
  .subtitle_content {
    left: 19% !important;
    max-width: 350px !important;
  }

  #service_description_content .first-child-p {
    margin-top: 40%;
  }

  #service_description_content {
    background-size: 100%;
  }
  #services {
    margin-top: 0px !important;
  }
}

@media screen and (max-width: 800px) {
  #icons-services-div {
    margin-top: 10px;
  }
  #service-description .subtitle_content {
    margin-top: 27% !important;
  }
  #service_description_content {
    background: #fff !important;
    margin-top: 3%;
  }
  #articl-bckg-img-service {
    margin-top: -14% !important;
  }
  #benefits-description {
    background: #fff;
  }
  #service_description_content .first-child-p {
    margin-top: 8%;
    width: 100%;
    margin-left: 2%;
    background: #fff;
  }
}

@media screen and (max-width: 690px) {
  #articl-bckg-img-service {
    min-height: 1400px !important;
  }
  #article_services {
    float: left !important;
    min-height: 905px !important;
    display: block !important;
  }
  #articl-bckg-img-service {
    margin-top: -17% !important;
  }
  #service-description .subtitle_content {
    max-width: 479px;
    position: relative;
    z-index: 12;
    float: left;
    left: 8%;
  }
  #service-description #service_description_content {
    min-height: 990px;
    width: 100%;
  }
  #service-description .subtitle_content {
    max-width: 479px;
    z-index: 12;
    float: left;
    left: 19%;
  }

  #service_description_bg {
    margin-top: 70%;
  }
  #service-description .subtitle_content {
    margin-top: -10%;
  }

  #service-description #service_description_content p {
    padding: 10px 15px;
  }
  #service_description_content .first-child-p {
    margin-top: 8%;
    padding: 10px 15px;
    background: #fff;
    margin-left: 0%;
  }
  #service_description_content {
    background-size: contain !important;
  }
}

@media screen and (max-width: 580px) {
  .subtitle_content {
    max-width: 250px !important;
    left: 10% !important;
  }
  #service-description .subtitle_content {
    left: 0px !important;
  }
  #articl-bckg-img-service {
    margin-top: -18% !important;
  }
  #articl-bckg-img-service {
    margin-top: 0% !important;
  }
  #article_services,
  #services {
    display: block !important;
  }
  #articl-bckg-img-service {
    min-height: 1600px !important;
  }
  #service-description .subtitle_content {
    margin-top: 11% !important;
  }
}
@media screen and (max-width: 420px) {
  #service-description #service_description_content .first-child-p {
    padding: 25px 10px;
  }
  ul li {
    padding: 10px;
  }
}
@media screen and (max-width: 350px) {
  #service_description_content .first-child-p {
    margin-top: 8%;
  }
}
